<a href="https://colab.research.google.com/github/jeversonluis/python_dsacademy/blob/main/001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 1** - Print the numbers from 1 to 10 on the screen. Use a list to store the numbers.

In [36]:
my_list = []

for i in range(1,11):
  print(i)
  my_list.append(i)
  
print(my_list)

1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Exercise 2** - Create a list of 5 objects and print on the screen.

In [37]:
new_list = ["orange", 25, [1,2,3], 10.24, True]
print(new_list)

['orange', 25, [1, 2, 3], 10.24, True]

**Exercise 3** - Create two strings and concatenate both into a third string "

In [38]:
a = "High"
b = "Building"
c = a +" "+ b
print(c)

High Building

**Exercise 4** - Create a tuple with the following elements: 1, 2, 2, 3, 4, 4, 4, 5 and then use the tuple object's count function to check how many times the number 4 appears in the tuple.

In [39]:
t = (1,2,2,3,4,4,4,5)
t.count(4)

3

**Exercise 5** - Create an empty dictionary and print on the screen.

In [40]:
d = {}
print(d)

{}

**Exercise 6** - Create a dictionary with 3 keys and 3 values and print on the screen.

In [42]:
dc = {"Hilary": 24, "Ashley": 27, "Stephany": 20}
print(dc)

{'Hilary': 24, 'Ashley': 27, 'Stephany': 20}

**Exercise 7** - Add one more element to the dictionary created in the previous exercise and print on the screen.

In [47]:
dc["Melanie"] = 22
print(dc)

{'Hilary': 24, 'Ashley': 27, 'Stephany': 20, 'Melanie': 22}

**Exercise 8** - Create a dictionary with 3 keys and 3 values. One of the values must be a list of 2 numeric elements. Print the dictionary on the screen.

In [48]:
di = {"ball": 15, "pool": 45, "bicycle": [23, 42]}
print(di)

{'ball': 15, 'pool': 45, 'bicycle': [23, 42]}

**Exercise 9** - Create a list of 4 elements. The first element must be a string, the second a tuple of 2 elements, the third a dictionary with 2 keys and 2 values and the fourth element a value of type float. Print the list on the screen.

In [50]:
n_list = ["orange", (10, 20), {"Patrick": 25, "Franklin": 30}, 48.5]
print(n_list)

['orange', (10, 20), {'Patrick': 25, 'Franklin': 30}, 48.5]

**Exercise 10** - Consider the following string => "Data scientist is the sexiest professional of the 21st century". Print on the screen only the characters from position 1 to 17.

In [54]:
st = "Data scientist is the sexiest professional of the 21st century"
print(st[0:17])

Data scientist is